<a href="https://colab.research.google.com/github/hariharan-jayakumar/2020-Coding-Challenge/blob/master/whatsapp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import re
import pandas as pd

In [100]:
users = {}

In [101]:
!ls

chat.txt  daleks.txt  new_sheet.csv  sample_data

In [107]:
chat = open('daleks.txt')
prevdate = ''

for user in users:
    users[user]=0
for line in chat:
    linesplit = line.split('-')
    datetime = linesplit[0]
    date = datetime.split(',')
    if len(date)<2:
        continue

    date = date[0]
    if '/' not in date:
        continue
    if date!=prevdate:
        #print(date)
        prevdate = date
        df[date] = users.values()
    if len(linesplit)>1:
        #print(line)
        namesplit = linesplit[1].split(':')

        if len(namesplit)>1:
            name = namesplit[0].strip()
            if name not in users:
                users[name] = 1
            else:
                users[name] += 1

In [104]:
new_dict = {'Users' : users.keys()}

In [105]:
df = pd.DataFrame(new_dict)

In [108]:
df

                 Users  9/25/20  9/13/20  ...  1/16/21  1/17/21  1/18/21
0            Vadurshan        0        0  ...     1001     1001     1009
1               Rakesh        0        0  ...      683      683      694
2          Shrutayyy üíù        0        0  ...      677      677      685
3  Hariharan Jayakumar        0        0  ...      548      548      562
4    Preetha Kumaresan        0        0  ...      799      800      809

[5 rows x 102 columns]

In [109]:
df.to_csv('new_sheet_daleks.csv')